<ion-view view-title="{{proyecto.title}}">
  <ion-content class="padding">
       <div align="center">
          <h2>{{proyecto.title}}</h2>
          <p>
          <i class="ion-film-marker"></i> {{proyecto.direction}}   
          </p>
       </div>
    <img ng-src="http://localhost:8000/{{proyecto.image}}" style="width: 100%; height: auto">
    <h6><i class="ion-arrow-graph-up-right"></i> Estado: <strong> {{proyecto.state}} </strong> |
        <i class="ion-ios-clock-outline"></i> Duracion:<strong> {{proyecto.length}}  </strong> |
        <i class="ion-information-circled"></i> Formato:<strong> {{proyecto.format}}  </strong> 
    </h6>
    <hr>
    <div align="center">
        <h4>Sipnosis</h4>
        <p class="padding">
          {{proyecto.synopsis}}
        </p>
    </div>
  </ion-content>
</ion-view>
