<ion-view view-title="¿Quienes somos?">
    <ion-content>

        <div class="list card">

          <div class="item item-divider">
            <h2 align="center">Visión</h2>
          </div>

          <div class="item item-body">
            <div class="padding">
              <img class="full-image" src="img/vision.jpg">
            </div>

            <hr>
            
            <div class="card">
              <div class="item item-body">
                <p align="justify">Proyectar el Laboratorio de Artes Digitales como un espacio adecuadamente dotado para el desarrollo de proyectos de animación a largo plazo, brindando una oportunidad
                    a todos aquellos realizadores vinculados con la universidad que no cuenten con recursos propios para este fin.
                </p>
              </div>
            </div>

          </div>

        </div>

    </ion-content> 

</ion-view> 