<ion-view view-title="¿Quienes somos?">
    <ion-content>

        <div class="list card">

          <div class="item item-divider">
            <h2 align="center">Misión</h2>
          </div>

          <div class="item item-body">
            <div class="padding">
              <img class="full-image" src="img/galeria/3.jpg">
            </div>
            
            <hr>

            <div class="card">
              <div class="item item-body">
                <p align="justify">El objetivo principal es facilitar las herramientas necesarias para construir el relato audiovisual y ofrecer un ambiente propicio para la concentración y la creatividad, lo cual se logra por medio de equipo tecnológico proporcionado por la Universidad del Magdalena con el apoyo de Vicerrectoría de Investigación y Vicerrectoría de Extensión.</p>
              </div>  
            </div>
            
          </div>

        </div>

    </ion-content> 

</ion-view> 