<ion-view view-title="¿Quienes somos?">
    <ion-content>

        <div class="list card">

          <div class="item item-divider">
            <h2 align="center">Laboratorio de Artes Digitales</h2>
            <h6 align="center"><i class="ion-android-person"></i> Director: <strong> Mauricio García Matamoros </strong></h6>
            <h6 align="center"><i class="ion-android-person"></i> Coordinador(a): <strong> Jehisel Ramos </strong></h6>
          </div>

          <div class="card">
            <div class="item item-body">
            <p align="justify">El Laboratorio de artes digitales es un espacio que busca apoyar e impulsar el uso de las nuevas tecnologías en los distintos proyectos desarrollados por estudiantes y egresados pertenecientes al ámbito artístico y cultural. <br> Al proporcionar un espacio como este, se han obtenido resultados visibles como el desarrollo del cortometraje de animación <a href="http://vimeo.com/52698662">“Ojos, Alas, Balas”</a>, visita virtual a <a href="http://casamuseogabo.unimagdalena.edu.co/recorrido-virtual.html">"La Casa Museo de Gabriel García Márquez"</a>, entre otros.</p>
            </div>
          </div>

          

        <div class="list card">

            <a class="item item-icon-left" href="#/tab/quienes_somos/mision">
              <i class="icon ion-forward"></i>
              Misión
            </a>

          <a class="item item-icon-left " href="#/tab/quienes_somos/vision">
                <i class="icon ion-forward"></i>
                Visión
              </a>
          

          <a class="item item-icon-left " href="#/tab/quienes_somos/lad">
                <i class="icon ion-forward"></i>
                Galería
              </a>

          
        </div>
             
          
          

        </div>
        
    </ion-content>
</ion-view>
