<ion-view view-title="Compartir">
  <!-- <ion-content class="padding">
  <div align="center">
      <h2>¿Te gustó la aplicación?</h2>
      <button class="button button-block button-outline button-positive">
        <i class="icon ion-social-facebook"></i> Compartir en Facebook
      </button>
      <button class="button button-block button-outline button-calm">
        <i class="icon ion-social-twitter"></i> Compartir en Twitter 
      </button>
  </div>
  </ion-content> -->

  <ion-content>

    <div class="list card">

      <div class="item item-avatar" >
        <img src="img/share2.png">
        <h2>¿Te gustó la aplicación?</h2>
        <p>Comparte!</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src=" img/share.png">
        <p>
          Informale a tus amigos !! 
        </p>
        <div class="padding">
          <button class="button button-block button-outline button-positive">
            <i class="icon ion-social-facebook"></i> Compartir en Facebook
          </button>
          <button class="button button-block button-outline button-calm">
            <i class="icon ion-social-twitter"></i> Compartir en Twitter 
          </button>
        </div>
      </div>

  </div> 


</ion-content>

</ion-view>
