<ion-view view-title="Conócenos">
    <ion-content>

        <div class="list card">

          <div class="item ">
            <!-- <img src="avatar.jpg"> -->
            <h2 align="center">Laboratorio de Artes Digitales</h2>
            <h6 align="center"><i class="ion-android-person"></i> Director: <strong> Mauricio García Matamoros </strong></h6>
            <h6 align="center"><i class="ion-android-person"></i> Coordinador(a): <strong> Jehisel Ramos </strong></h6>
          </div>

          <div class="item item-body">
            <p align="justify">El Laboratorio de artes digitales es un espacio que busca apoyar e impulsar el uso de las nuevas tecnologías en los distintos proyectos desarrollados por estudiantes y egresados pertenecientes al ámbito artístico y cultural. <br> <br> Al proporcionar un espacio como este, se han obtenido resultados visibles como el desarrollo del largometraje de animación <a href="http://vimeo.com/67947196">“Todo es Posible”</a>, cortometrajes de animación como <a href="http://vimeo.com/52698662">“Ojos, Alas, Balas”</a>, visita virtual a <a href="http://casamuseogabo.unimagdalena.edu.co/recorrido-virtual.html">"La Casa Museo de Gabriel García Márquez"</a>, entre otros.</p>
          </div>

          <a class="item item-icon-left" href="#/tab/quienes_somos/mision">
            <i class="icon ion-forward"></i>
            Misión
          </a>

          <a class="item item-icon-left " href="#/tab/quienes_somos/vision">
            <i class="icon ion-forward"></i>
            Visión
          </a> 

        </div>
        
    </ion-content>
</ion-view>
